.form-container {
    width: 60%;
    margin: 20px auto;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.url-input {
    flex: 1 0 80%;
    background-color: #fff3f3;
    border-radius: 8px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}

button[type="submit"] {
    padding: 20px;
    border-radius: 8px;
    height: 70px;
}