<div class="form-container">
  <form [formGroup]="shortenUrlForm" style="width: 100%;" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <mat-form-field appearance="fill" class="url-input">
        <mat-label>URL</mat-label>
        <input matInput type="url" formControlName="url" required>
        <mat-error *ngIf="shortenUrlForm.get('url')?.hasError('required')">
          URL is required
        </mat-error>
        <mat-error *ngIf="shortenUrlForm.get('url')?.hasError('pattern')">
          Invalid URL format
        </mat-error>
      </mat-form-field>
      <button type="submit">Shorten</button>
    </div>
  </form>
</div>