.vs/
.vscode/

# Angular
/UrlShortener.Client/node_modules
/UrlShortener.Client/.vscode
UrlShortener.Client/.angular/cache/*
/UrlShortener.Client/obj

# ASP.NET Core Web API
/UrlShortener.Api/bin/Debug/net8.0
/UrlShortener.Api/obj
*.user
UrlShortener.Api/appsettings.json
UrlShortener.Client/src/environments/environment.ts
