.vs/
.vscode/

# Angular
/UrlShortener.Client/node_modules
/UrlShortener.Client/.vscode
/UrlShortener.Client/dist
UrlShortener.Client/.angular/cache/*
/UrlShortener.Client/obj

# ASP.NET Core Web API
/UrlShortener.Api/bin/Debug/net8.0
/UrlShortener.Api/obj
*.user
UrlShortener.Api/appsettings.json

# ASP.NET Razor Algorithm Page
/UrlShortener.Algorithm/bin/Debug/net8.0
/UrlShortener.Algorithm/obj
*.user
UrlShortener.Algorithm/appsettings.json

# ASP.NET API NUnit Tests 
/UrlShortener.Api.Tests/bin/Debug/net8.0
/UrlShortener.Api.Tests/obj