@page
@model LogInModel
@{
    ViewData["Title"] = "";
}

<h2>Log In</h2>

<form method="post">
    <div>
        <label for="login">Login</label>
        <br />
        <input type="email" id="login" asp-for="Login" />
    </div>
    <div class="mt-2">
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" asp-for="Password" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red;">@Model.ErrorMessage</p>
}