<div *ngIf="!authService.getIsAuthenticated()" class="flex items-center justify-center min-h-screen flex-col">
    <div class="bg-white shadow-md rounded-lg p-4">
        <h2 class="text-4xl text-red-600">You need to log in to view this page.</h2>
    </div>
    <div class="bg-white shadow-md rounded-lg p-4 mt-2 text-4xl">
        <p>
            <a routerLink="/login">Log in</a>
            or 
            <a routerLink="/register">Register</a>
        </p>
    </div>
</div>

<div *ngIf="errorMessage" class="flex items-center justify-center min-h-screen">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h2 class="text-4xl text-red-600">{{ errorMessage }}</h2>
        </div>
    </div>
</div>

<div *ngIf="shortUrlInfoData" class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg p-6 text-xl sm:max-md:w-6/12 md:w-5/12 lg:w-4/12 2xl:w-3/12">
        <h2 class="text-4xl mb-2 font-bold ">Short URL Info</h2>
        <hr class="w-full mb-3">
        <p class="mb-2"><strong>Created By:</strong> {{ shortUrlInfoData.createdBy }}</p>
        <p class="mb-2"><strong>Created Date:</strong> {{ shortUrlInfoData.createdDate }}</p>
        <p><strong>Usage Count:</strong> {{ shortUrlInfoData.usageCount }} </p>
    </div>
</div>